@model BurgerListViewModel
<div class="col-lg-3">
<div class="card m-2">
    <img class="card-img-top" src="/img/standin-burger.jpg" alt="Image for @Model.Name" />
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Price</p>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">View more</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
    </div>
</div>